#Im path:nth-child(1) {
  stroke-dasharray: 247.9px;
  stroke-dashoffset: 247.9px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#Im path:nth-child(2) {
  stroke-dasharray: 85.8px;
  stroke-dashoffset: 85.8px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#Im path:nth-child(3) {
  stroke-dasharray: 427.8px;
  stroke-dashoffset: 427.8px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#Im path:nth-child(4) {
  stroke-dasharray: 85.8px;
  stroke-dashoffset: 85.8px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#dushan path:nth-child(1) {
  stroke-dasharray: 375.6px;
  stroke-dashoffset: 375.6px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#dushan path:nth-child(2) {
  stroke-dasharray: 289.9px;
  stroke-dashoffset: 289.9px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#dushan path:nth-child(3) {
  stroke-dasharray: 320.9px;
  stroke-dashoffset: 320.9px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#dushan path:nth-child(4) {
  stroke-dasharray: 322.6px;
  stroke-dashoffset: 322.6px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#dushan path:nth-child(5) {
  stroke-dasharray: 308.5px;
  stroke-dashoffset: 308.5px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#dushan path:nth-child(6) {
  stroke-dasharray: 289.9px;
  stroke-dashoffset: 289.9px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(1) {
  stroke-dasharray: 311.1px;
  stroke-dashoffset: 311.1px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(2) {
  stroke-dasharray: 215px;
  stroke-dashoffset: 215px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(3) {
  stroke-dasharray: 427.8px;
  stroke-dashoffset: 427.8px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(4) {
  stroke-dasharray: 321.8px;
  stroke-dashoffset: 321.8px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(5) {
  stroke-dasharray: 308.5px;
  stroke-dashoffset: 308.5px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(6) {
  stroke-dasharray: 187.5px;
  stroke-dashoffset: 187.5px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(7) {
  stroke-dasharray: 260.5px;
  stroke-dashoffset: 260.5px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(8) {
  stroke-dasharray: 308.3px;
  stroke-dashoffset: 308.5px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(9) {
  stroke-dasharray: 245.8px;
  stroke-dashoffset: 245.8px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(10) {
  stroke-dasharray: 249.2px;
  stroke-dashoffset: 249.2px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#cimbaljevic path:nth-child(11) {
  stroke-dasharray: 249.2px;
  stroke-dashoffset: 249.2px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}
/*# sourceMappingURL=anim.css.map */