:root {
  --mainColor: #c9c7c7;
  --secondaryColor: #fff;
  --mainText: black;
  --borederColor: #aca9a9;
  --secondaryText: #4b5156;
}

html,
body {
  padding: 0;
  margin: 0;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Baloo Tammudu 2", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #17a2b8;
}
a:hover {
  color: #127281;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borederColor);
  overflow: auto;
}
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borederColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.naslov {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrap {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borederColor);
  /* border: 1px solid red; */
  border-radius: 10px 10px 0 0;
  margin-bottom: 30px;

  -webkit-box-shadow: 17px 18px 19px 2px rgba(105, 105, 105, 0.81);
  -moz-box-shadow: 17px 18px 19px 2px rgba(105, 105, 105, 0.81);
  box-shadow: 17px 18px 19px 2px rgba(105, 105, 105, 0.81);

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas:
    "nav-wrap nav-wrap"
    "left-nav-wrap right-nav-wrap";
}

.nav-wrap {
  grid-area: nav-wrap;
  border-bottom: 1px solid var(--borederColor);
  border-radius: 10px 10px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
}
.left-nav-wrap {
  margin-top: 50px;
  grid-area: left-nav-wrap;
}
.right-nav-wrap {
  grid-area: right-nav-wrap;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#preview {
  width: 300px;
  border: 2px solid #17a2b8;
  background-color: #9cd4dd;
  padding: 15px;
  position: relative;

  -webkit-box-shadow: 17px 18px 19px 2px rgba(105, 105, 105, 0.81);
  -moz-box-shadow: 17px 18px 19px 2px rgba(105, 105, 105, 0.81);
  box-shadow: 17px 18px 19px 2px rgba(105, 105, 105, 0.81);
}

.corner {
  width: 7px;
  height: 7px;
  border: 2px solid #17a2b8;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

#c-tr {
  top: -5px;
  left: -5px;
}
#c-tl {
  top: -5px;
  right: -5px;
}
#c-br {
  bottom: -5px;
  left: -5px;
}
#c-bl {
  bottom: -5px;
  right: -5px;
}

.dots {
  margin: 5px;
  height: 20px;
  width: 20px;
}
.dots-wrap {
  display: flex;
}

.brows-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
}

#profile-pic {
  display: block;
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  /* border: 2px solid var(--borederColor); */
  border: 2px solid var(--borederColor);
  /* border-radius: 10px; */
}
#profile-pic-wrap {
  position: relative;
  width: 227px; /* +2 cuz border */
  height: 302px; /* +2 cuz border */
  margin: 0 auto;
}

.about-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
#about-me {
  margin-right: 20px;
}

#skills {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 222, 198);
  border-radius: 10px;
}
#mali-naslovi {
  color: black;
  font-size: 20px;
  margin: 0;
}
#myWork {
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
@media screen and (max-width: 800px) {
  .intro-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav-wrap "
      "left-nav-wrap "
      "right-nav-wrap";
  }
  .right-nav-wrap {
    justify-content: center;
  }
}
